---
layout: base
permalink: /home/
eleventyNavigation:
  key: Home
---

<div class="container">
    <h1>Home</h1>
    <button>Submit</button>
    <input type="text" placeholder="Enter some value" />
</div>